@using PagedList
@using PagedList.Mvc
@model IPagedList<MVEcommerce.Models.Product>
@{
	ViewData["Title"] = "FlashDeals";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-elementor-type="wp-page" data-elementor-id="15541" class="elementor elementor-15541">
	<section
		class="elementor-section elementor-top-section elementor-element elementor-element-18ce64d elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
		data-id="18ce64d" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-abc62f0"
				data-id="abc62f0" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-95ace48 motta-product-deals__type-month elementor-widget elementor-widget-motta-product-deals-grid"
						data-id="95ace48" data-element_type="widget"
						data-widget_type="motta-product-deals-grid.default">
						<div class="elementor-widget-container">
							<div class="motta-product-deals-grid motta-product-deals">
								<ul class="products product-card-layout-1 columns-4 mobile-col-2">
									@foreach (var item in Model)
									{
										var discount = item.Price * (1 - item.Sale / 100);
										<li
											class="product type-product post-17 status-publish first instock product_cat-electronics product_tag-electric product_tag-electric-10 product_tag-electric-4 product_tag-electric-5 product_tag-laptop product_tag-toys has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
											<div class="product-inner">
												<span class="woocommerce-badges"><span
														class="onsale woocommerce-badge">Sale</span></span>
												<div class="product-thumbnail">
													<div class="product-thumbnails--slider swiper-container">
														<div class="swiper-wrapper">
															@foreach (var image in item.ProductImages)
															{
																<a asp-action="ProductDetail" asp-route-slug="@item.Slug" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																	<img loading="lazy" decoding="async" width="300"
																		height="300" src="@image.ImageUrl" alt=""
																		srcset="@image.ImageUrl"
																		sizes="(max-width: 300px) 100vw, 300px" />
																</a>

															}

														</div>
													</div>
												</div>
												<div class="product-summary show-vendor">
													<div class="product-variation-items ">
														<div class="product-variation-items--text"></div>
													</div>
													<h2 class="woocommerce-loop-product__title"><a asp-action="ProductDetail" asp-route-slug="@item.Slug" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.Name</a>
													</h2>
													<span class="price"><span class="woocs_price_code" data-currency=""
															data-redraw-id="6721988422c33" data-product-id="17"><del
																aria-hidden="true"><span
																	class="woocommerce-Price-amount amount"><bdi><span
																			class="woocommerce-Price-currencySymbol">&#36;</span>@item.Price</bdi></span></del>
															<span class="screen-reader-text">Original price was:
																&#036;@item.Price.</span><ins aria-hidden="true"><span
																	class="woocommerce-Price-amount amount"><bdi><span
																			class="woocommerce-Price-currencySymbol">&#36;</span>@discount</bdi></span></ins><span
																class="screen-reader-text">Current price is:
																&#036;@discount.</span></span></span>

													<div class="sold-by-meta show-attributes">
														<a a asp-controller="Home" asp-action="VendorPage" asp-route-vendorId="@item.Vendor.VendorId">
															<img loading="lazy" decoding="async"
																src="@(item.Vendor?.Avartar ?? "" )"
																width="96" height="96" alt="Sanvo"
																class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo" />
															<span class="vendor-name">@item.Vendor.Name</span>
														</a>
													</div>

												</div>
												<div class="product-actions">
													@*router*@
													@if (item.HasVariant)
													{
														<a asp-action="ProductDetail" asp-route-slug="@item.Slug" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="@item.ProductId" aria-label="Select options for “@item.Name” Touch Screen”" aria-describedby="This product has multiple variants. The options may be chosen on the product page" rel="nofollow">
															<span>Select options</span>
														</a>
													}
													else
													{
														<a data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id=@item.ProductId data-product_sku="woo-polo" aria-label="Add to cart: @item.Name" aria-describedby="" rel="nofollow" onclick="addToCart(@item.ProductId),showProduct(@item.ProductId)">
															<span>Add to cart</span>
														</a>
													}
												</div>
											</div>
										</li>
									}

								</ul>
							</div>
							<nav style="margin-top: 3rem;;" role="navigation" id="nav-below" class="dokan-pagination-container site-navigation paging-navigation">
								<ul class="pager dokan-pagination">
									@if (ViewBag.CurrentPage > 1)
									{
										<li class="previous">
											<a href="@Url.Action("FlashDeals", new { page = ViewBag.CurrentPage - 1 })">&larr; Previous</a>
										</li>
									}

									@for (int i = 1; i <= ViewBag.TotalPages; i++)
									{
										if (i == 1 || i == ViewBag.TotalPages || (i >= ViewBag.CurrentPage - 2 && i <= ViewBag.CurrentPage + 2))
										{
											<li class="@(i == ViewBag.CurrentPage ? "active" : "")">
												<a href="@Url.Action("FlashDeals", new { page = i })">@i</a>
											</li>
										}
										else if (i == ViewBag.CurrentPage - 3 || i == ViewBag.CurrentPage + 3)
										{
											<li><span>...</span></li>
										}
									}

									@if (ViewBag.CurrentPage < ViewBag.TotalPages)
									{
										<li class="next">
											<a href="@Url.Action("FlashDeals", new { page = ViewBag.CurrentPage + 1 })">Next &rarr;</a>
										</li>
									}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<partial name="_AddCartScript" />