@{
    ViewData["Title"] = "Home Page";
}
@model List<MVEcommerce.Models.Product>
<div data-elementor-type="wp-page" data-elementor-id="4398" class="elementor elementor-4398">
	<section style="width: 100% !important; margin: auto" class="elementor-section elementor-top-section elementor-element elementor-element-773d3d6a elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="773d3d6a" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">

			<div style="width: 100% !important"  class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3314a30b"
				 data-id="3314a30b" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-7d948b9a motta-slides__arrow-position-right-bottom motta-slides__dots-position-left elementor-widget elementor-widget-motta-slides"
						 data-id="7d948b9a" data-element_type="widget"
						 data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;navigation_mobile&quot;:&quot;dots&quot;,&quot;navigation_tablet&quot;:&quot;dots&quot;,&quot;slides_to_show&quot;:1,&quot;slides_to_scroll&quot;:1,&quot;effect&quot;:&quot;fade&quot;,&quot;autoplay_speed&quot;:1000,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
						 data-widget_type="motta-slides.default">
						<div class="elementor-widget-container">
							<div class="motta-slides-elementor motta-swiper-carousel-elementor motta-swiper-slider-elementor navigation-both navigation-tablet-dots navigation-mobile-dots">
								<div class="motta-slides-elementor__wrapper swiper-container">
									<div class="motta-slides-elementor__inner swiper-wrapper">
										<div class="elementor-repeater-item-7489112 item-slider swiper-slide"
											 data-dots="{&quot;color&quot;:&quot;#D76D75&quot;,&quot;color_active&quot;:&quot;#FFFFFF&quot;}"
											 data-arrow="[]">
											<div class="slick-slide-inner ">
												<div class="motta-slide__content">
													<div class="motta-slide__subtitle ">New arrivals</div>
													<div class="motta-slide__title">
														Hot <br>
														Right <br>
														Now
													</div>


													<div class="motta-slide__description">
														Retro Remixed For
														The Future
														Starting at <span style="font-weight:500;">$110</span>
													</div>

													<div class="motta-slide-button hidden-xs">
														<a href="/category/fashion-3"
														   class="motta-button motta-button-primary motta-button--medium  motta-button--base ">
															<span class="motta-button__text">
																Shop
																Now
															</span>
														</a>
													</div>

												</div>

											</div>
										</div>
										<div class="elementor-repeater-item-a4c0b9d item-slider swiper-slide"
											 data-dots="[]" data-arrow="[]">
											<div class="slick-slide-inner ">
												<div class="motta-slide__content">
													<div class="motta-slide__subtitle ">Editorials</div>
													<div class="motta-slide__title">
														Natural<br>Air<br class="hidden-xs">Prufier
													</div>


													<div class="motta-slide__description">
														It brings light
														and happiness to your house, like a sun beam after
														the rain
													</div>

													<div class="motta-slide-button hidden-xs">
														<a href="/category/home-garden-1"
														   class="motta-button motta-button-primary motta-button--medium  motta-button--base ">
															<span class="motta-button__text">
																Shop
																Now
															</span>
														</a>
													</div>

												</div>

											</div>
										</div>
										<div class="elementor-repeater-item-9cd81a9 item-slider swiper-slide"
											 data-dots="[]" data-arrow="[]">
											<div class="slick-slide-inner ">
												<div class="motta-slide__content">
													<div class="motta-slide__subtitle ">Featured</div>
													<div class="motta-slide__title">Bring it anywhere</div>


													<div class="motta-slide__description">
														The perfect
														portable speaker for home and away
													</div>

													<div class="motta-slide-button hidden-xs">
														<a href="/category/electronics-2"
														   class="motta-button motta-button-primary motta-button--medium  motta-button--base ">
															<span class="motta-button__text">
																Shop
																Now
															</span>
														</a>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="motta-swiper-arrows-inner">
									<span class="motta-svg-icon motta-svg-icon--left motta-swiper-button-prev swiper-button motta-swiper-button">
										<svg width="24" height="24" aria-hidden="true" role="img"
											 focusable="false" viewBox="0 0 32 32">
											<path d="M20.58 2.58l2.84 2.84-10.6 10.58 10.6 10.58-2.84 2.84-13.4-13.42z">
											</path>
										</svg>
									</span><span class="motta-svg-icon motta-svg-icon--right motta-swiper-button-next swiper-button motta-swiper-button">
										<svg width="24" height="24" aria-hidden="true" role="img"
											 focusable="false" viewBox="0 0 32 32">
											<path d="M11.42 29.42l-2.84-2.84 10.6-10.58-10.6-10.58 2.84-2.84 13.4 13.42z">
											</path>
										</svg>
									</span>
								</div>
								<div class="swiper-pagination "></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="elementor-section elementor-top-section elementor-element elementor-element-6c53aea3 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="6c53aea3" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-72bfa505"
				 data-id="72bfa505" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-df438f8 motta-product-deals__type-day motta-product-deals-position--top elementor-widget elementor-widget-motta-product-deals"
						 data-id="df438f8" data-element_type="widget"
						 data-settings="{&quot;slides_to_show_tablet&quot;:3,&quot;slides_to_scroll_tablet&quot;:3,&quot;navigation_tablet&quot;:&quot;arrows&quot;,&quot;navigation_mobile&quot;:&quot;dots&quot;,&quot;slides_to_show&quot;:5,&quot;slides_to_scroll&quot;:5,&quot;navigation&quot;:&quot;arrows&quot;,&quot;speed&quot;:2000}"
						 data-widget_type="motta-product-deals.default">
						<div class="elementor-widget-container">
							<div class="motta-product-deals motta-swiper-carousel-elementor motta-product-carousel navigation-arrows navigation-tablet-arrows navigation-mobile-dots motta-product-deals__button-mobile-on">
								<div class="motta-product-deals__content">
									<div class="motta-product-deals__title">Flash Deals</div>
									<div class="motta-product-deals__group-heading">
										<div class="motta-product-deals__countdown">
											<div class="motta-product-deals__sale-text">Sale</div>								
										</div> <span class="motta-product-deals__button">
											<a class="motta-button motta-button-primary  motta-button--subtle  motta-button--color-black  motta-button--medium"
											   href="https://motta.uix.store/flash-deals/">
												<span class="motta-button__text motta-button__text_mobile">
													See
													All
												</span>
												<span class="motta-button__text">See All Products</span>
											</a>
										</span>
									</div>
								</div>
								<div class="motta-product-deals__products swiper">
									<ul class="products product-card-layout-1 columns-5 swiper-wrapper mobile-col-2">
										@foreach(var item in Model)
										{
											var discount = item.Price*(1-item.Sale/100);
											<li class="product type-product post-13649 status-publish first instock product_cat-lego-building-sets product_cat-toys product_cat-toysgames product_tag-toys has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
											<div class="product-inner">
												<span class="woocommerce-badges">
													<span class="onsale woocommerce-badge">Sale</span>
												</span>
												<div class="product-thumbnail">
													<div class="product-thumbnails--slider swiper-container">
														<div class="swiper-wrapper">
															<a href="https://motta.uix.store/product/town-truck-tracked-excavator-10812-26-pieces/"
															   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																<img loading="lazy" decoding="async"
																	 width="300" height="300"
																		 src="@item.ProductImages!.Where(x => x. IsMain).FirstOrDefault()!.ImageUrl"
																	 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
																	 alt=""
																	 srcset="@item.ProductImages!.Where(x => x. IsMain).FirstOrDefault()!.ImageUrl"
																	 sizes="(max-width: 300px) 100vw, 300px" />
																</a>
																@foreach (var image in item.ProductImages!.Where(x => !x.IsMain))
																{
																	<a href="https://motta.uix.store/product/town-truck-tracked-excavator-10812-26-pieces/"
																	   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																		<img loading="lazy" decoding="async"
																			 src="@image.ImageUrl"
																			 data-src="@image.ImageUrl"
																			 width="300" height="300"
																			 alt="Town Truck &amp; Tracked Excavator 10812 (26 Pieces)"
																			 class="swiper-lazy">
																	</a>
																}
															</div><span class="motta-svg-icon motta-svg-icon--arrow-left-long motta-product-card-swiper-prev motta-product-card-swiper-button">
															<svg width="24" height="24" aria-hidden="true"
																 role="img" focusable="false"
																 viewBox="0 0 19 32">
																<path d="M13.552 0.72l2.656 1.76-9.008 13.52 9.008 13.52-2.656 1.76-10.192-15.28z">
																</path>
															</svg>
														</span><span class="motta-svg-icon motta-svg-icon--arrow-right-long motta-product-card-swiper-next motta-product-card-swiper-button">
															<svg width="24" height="24" aria-hidden="true"
																 role="img" focusable="false"
																 viewBox="0 0 19 32">
																<path d="M5.648 31.28l-2.656-1.76 9.008-13.52-9.008-13.52 2.656-1.76 10.192 15.28z">
																</path>
															</svg>
														</span>
													</div>
													<div class="product-featured-icons">
														<a href="https://motta.uix.store/wishlist/"
														   data-quantity="1" data-product_id="13649"
														   data-product_title="Town Truck &amp; Tracked Excavator 10812 (26 Pieces)"
														   data-variations=""
														   class="wcboost-wishlist-button wcboost-wishlist-button--theme button wp-element-button wcboost-wishlist-button--ajax added motta-button motta-button--text motta-button--wishlist motta-button-wishlist--view"
														   aria-label="Open the wishlist">
															<span class="motta-button__icon add-to-wishlist-button__icon wcboost-wishlist-button__icon">
																<span class="motta-svg-icon motta-svg-icon--wishlist-filled">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false" version="1.1"
																		 xmlns="http://www.w3.org/2000/svg"
																		 width="32" height="32"
																		 viewBox="0 0 32 32">
																		<path d="M22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z">
																		</path>
																	</svg>
																</span>
															</span>
															<span class="motta-button__text add-to-wishlist-button__text wcboost-wishlist-button__text"
																  data-add="Add To Wishlist"
																  data-remove="Remove Wishlist"
																  data-view="View Wishlist">View</span>
														</a><a href="https://motta.uix.store/compare/"
															   data-product_id="13649"
															   data-product_title="Town Truck &amp; Tracked Excavator 10812 (26 Pieces)"
															   class="wcboost-products-compare-button wcboost-products-compare-button--ajax added motta-button motta-button--text motta-button-compare--view"
															   aria-label="Open the compare list"
															   role="button">
															<span class="wcboost-products-compare-button__icon">
																<span class="motta-svg-icon motta-svg-icon--compare">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M13.136 14.864l-3.68-3.664h16.144v-3.2h-16.144l3.68-3.664-2.272-2.272-7.52 7.536 7.52 7.536z">
																		</path>
																		<path d="M21.136 14.864l-2.272 2.272 3.68 3.664h-16.144v3.2h16.144l-3.68 3.664 2.272 2.272 7.52-7.536z">
																		</path>
																	</svg>
																</span>
															</span>
															<span class="wcboost-products-compare-button__text"
																  data-add="Add To Compare"
																  data-remove="Remove Compare"
																  data-view="Browse Compare">Browse</span>
														</a>
													</div>
												</div>
												<div class="product-summary show-vendor">
													<div class="product-variation-items"></div>
													<div class="meta-wrapper">
														<div class="meta meta-sku">
															Sku: <span>TT001</span>
														</div>
													</div>
													<h2 class="woocommerce-loop-product__title">
														<a href="https://motta.uix.store/product/town-truck-tracked-excavator-10812-26-pieces/"
														   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
															@item.Name
														</a>
													</h2>
													<div class="motta-rating">
														<div class="star-rating" role="img"
															 aria-label="Rated 5.00 out of 5">
															<span class="max-rating rating-stars">
																<span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span>
															</span><span class="user-rating rating-stars"
																		 style="width:100%">
																<span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span><span class="motta-svg-icon motta-svg-icon--star">
																	<svg width="24" height="24"
																		 aria-hidden="true" role="img"
																		 focusable="false"
																		 viewBox="0 0 32 32">
																		<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
																		</path>
																	</svg>
																</span>
															</span><span class="screen-reader-text">
																Rated <strong class="rating">5.00</strong> out of
																5
															</span>
														</div>
														<div class="review-count">
															<span class="average">5.00</span> (<span class="count">1</span><span class="text">
																Review
															</span>)
														</div>
													</div>
													<span class="price">
														<span class="woocs_price_code"
															  data-currency="" data-redraw-id="6721989bbcfe8"
															  data-product-id="13649">
															<del aria-hidden="true">
																<span class="woocommerce-Price-amount amount">
																	<bdi>
																		<span class="woocommerce-Price-currencySymbol">&#36;</span>@item.Price
																	</bdi>
																</span>
															</del>
															<span class="screen-reader-text">
																Original price
																was: &#036;@item.Price.
															</span><ins aria-hidden="true">
																<span class="woocommerce-Price-amount amount">
																	<bdi>
																		<span class="woocommerce-Price-currencySymbol">&#36;</span>@discount
																	</bdi>
																</span>
															</ins><span class="screen-reader-text">
																Current price is:
																	&#036;@discount
															</span>
														</span>
													</span>

													<div class="sold-by-meta ">
														<a asp-controller="Home" asp-action="VendorPage" asp-route-vendorId="@item.Vendor.VendorId">
															<img loading="lazy" decoding="async"
																 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/02/vendor-logo-7.png?fit=96%2C96&amp;ssl=1"
																 width="96" height="96" alt="Borda"
																 class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo" />
															<span class="vendor-name">@item.Vendor.Name</span>
														</a>
													</div>

												</div>
												<div class="deal-sold">
													<div class="deal-progress">
														<div class="progress-bar">
															<div class="progress-value" style="width: 10%">
															</div>
														</div>
														<div class="deal-text">
															<span class="amount">
																<span class="sold">20</span>
															</span> Sold
														</div>
													</div>
												</div>

												<div class="product-actions">
													<a href="https://motta.uix.store/?add-to-cart=13649"
													   data-quantity="1"
													   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
													   data-product_id="13649" data-product_sku="TT001"
													   aria-label="Add to cart: &ldquo;Town Truck &amp; Tracked Excavator 10812 (26 Pieces)&rdquo;"
													   aria-describedby="" rel="nofollow">
														<span>
															Add to
															cart
														</span>
													</a><a href="https://motta.uix.store/product/town-truck-tracked-excavator-10812-26-pieces/"
														   class="button motta-button motta-button--quickview motta-button--ghost"
														   data-toggle="modal" data-target="quick-view-modal"
														   data-id="13649" data-text="Quick View"
														   rel="nofollow">
														<span>Quick View</span>
													</a>
												</div>
											</div>
										</li>											
										}

									</ul>
								</div> <span class="motta-svg-icon motta-svg-icon--left motta-swiper-button-prev swiper-button motta-swiper-button">
									<svg width="24" height="24" aria-hidden="true" role="img"
										 focusable="false" viewBox="0 0 32 32">
										<path d="M20.58 2.58l2.84 2.84-10.6 10.58 10.6 10.58-2.84 2.84-13.4-13.42z">
										</path>
									</svg>
								</span><span class="motta-svg-icon motta-svg-icon--right motta-swiper-button-next swiper-button motta-swiper-button">
									<svg width="24" height="24" aria-hidden="true" role="img"
										 focusable="false" viewBox="0 0 32 32">
										<path d="M11.42 29.42l-2.84-2.84 10.6-10.58-10.6-10.58 2.84-2.84 13.4 13.42z">
										</path>
									</svg>
								</span>
								<div class="motta-swiper-carousel__paginations swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-b5a499c elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="b5a499c" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d664363"
				 data-id="d664363" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-51318df elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
						 data-id="51318df" data-element_type="widget" data-widget_type="divider.default">
						<div class="elementor-widget-container">
							<div class="elementor-divider">
								<span class="elementor-divider-separator">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-7f79f6dd elementor-section-content-space-between elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="7f79f6dd" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5d7c4913"
				 data-id="5d7c4913" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-e42ac21 motta-icon-box__icon-position--left motta-tablet-icon-box__icon-position--top motta-mobile-icon-box__icon-position--left motta-mobile-icon-box__icon-alignment--left motta-icon-box__vertical-align-top elementor-widget elementor-widget-motta-icon-box"
						 data-id="e42ac21" data-element_type="widget"
						 data-widget_type="motta-icon-box.default">
						<div class="elementor-widget-container">
							<div class="motta-icon-box icon-type-external">
								<div class="motta-icon-box__icon">
									<img decoding="async" alt="Money Back Guarantee"
										 src="https://motta.uix.store/wp-content/uploads/2022/08/moneyback.svg">
								</div>
								<div class="motta-icon-box__wrapper">
									<h6 class="motta-icon-box__title">Money Back Guarantee</h6>
									<div class="motta-icon-box__content">
										Get the item you ordered or your
										<br class="hidden-xs">
										money back
									</div>
									<a class="motta-button motta-button-primary  motta-button--subtle  motta-button--color-black  motta-button--medium"
									   href="https://motta.uix.store/legal/money-back-policy/">
										<span class="motta-button__text">Learn More</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-188c1ef"
				 data-id="188c1ef" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-7d784be5 motta-icon-box__icon-position--left motta-tablet-icon-box__icon-position--top motta-mobile-icon-box__icon-position--left motta-mobile-icon-box__icon-alignment--left motta-icon-box__icon-alignment--center motta-icon-box__vertical-align-top elementor-widget elementor-widget-motta-icon-box"
						 data-id="7d784be5" data-element_type="widget"
						 data-widget_type="motta-icon-box.default">
						<div class="elementor-widget-container">
							<div class="motta-icon-box icon-type-external">
								<div class="motta-icon-box__icon">
									<img decoding="async" alt="Free Shipping"
										 src="https://motta.uix.store/wp-content/uploads/2022/08/freeshipping.svg">
								</div>
								<div class="motta-icon-box__wrapper">
									<h6 class="motta-icon-box__title">Free Shipping</h6>
									<div class="motta-icon-box__content">
										Free Shipping On Orders Over <br>
										$100
									</div>
									<a class="motta-button motta-button-primary  motta-button--subtle  motta-button--color-black  motta-button--medium"
									   href="https://motta.uix.store/free-shipping/">
										<span class="motta-button__text">Details</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5b7f7ad1"
				 data-id="5b7f7ad1" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-55074a5c motta-icon-box__icon-position--left motta-tablet-icon-box__icon-position--top motta-mobile-icon-box__icon-position--left motta-mobile-icon-box__icon-alignment--left motta-icon-box__icon-alignment--right motta-icon-box__vertical-align-top elementor-widget elementor-widget-motta-icon-box"
						 data-id="55074a5c" data-element_type="widget"
						 data-widget_type="motta-icon-box.default">
						<div class="elementor-widget-container">
							<div class="motta-icon-box icon-type-external">
								<div class="motta-icon-box__icon">
									<img decoding="async" alt="24/7 Customer Service"
										 src="https://motta.uix.store/wp-content/uploads/2022/08/customerservice.svg">
								</div>
								<div class="motta-icon-box__wrapper">
									<h6 class="motta-icon-box__title">24/7 Customer Service</h6>
									<div class="motta-icon-box__content">
										Want to talk to a person? Choose
										<br class="hidden-xs">
										chat or call us
									</div>
									<a class="motta-button motta-button-primary  motta-button--subtle  motta-button--color-black  motta-button--medium"
									   href="https://motta.uix.store/customer-service/">
										<span class="motta-button__text">Get Support</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-1a75ede elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="1a75ede" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-92f473b"
				 data-id="92f473b" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-dc22b1c elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
						 data-id="dc22b1c" data-element_type="widget" data-widget_type="divider.default">
						<div class="elementor-widget-container">
							<div class="elementor-divider">
								<span class="elementor-divider-separator">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-42840966 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
			 data-id="42840966" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6126a6e2"
				 data-id="6126a6e2" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-2ae0f191 elementor-widget elementor-widget-motta-heading"
						 data-id="2ae0f191" data-element_type="widget"
						 data-widget_type="motta-heading.default">
						<div class="elementor-widget-container">
							<div class="motta-heading-elementor motta-heading__button-on">
								<div class="motta-heading motta-heading--large">
									Our Favorite Deals This Week
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-2da6ebc motta-responsive-column motta-mobile-column--column_md motta-responsive-column motta-tablet-column--column_xs elementor-section-boxed elementor-section-height-default elementor-section-height-default"
			 data-id="2da6ebc" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-66c1f746"
				 data-id="66c1f746" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-240450df motta-banner__image-zoom motta-banner__countdown--column motta--time-text-enable-no elementor-widget elementor-widget-motta-banner"
						 data-id="240450df" data-element_type="widget"
						 data-widget_type="motta-banner.default">
						<div class="elementor-widget-container">
							<div class="motta-banner">
								<a href="/category/home-garden-1"
								   class="motta-banner__button-link">
									<div class="motta-banner__featured-image"></div>
									<div class="motta-banner__wrapper countdown__position--before">
										<div class="motta-banner__content">
											<h4 class="motta-banner__title">
												Kitchen Tools & <br>
												Accessories
											</h4>
											<div class="motta-banner__description">
												Charming kitchenware and
												bohemian <br class="hidden-sm hidden-xs">
												touches worth getting out of bed for.
											</div>
											<div class="motta-banner-button">
												<span class="motta-button motta-button-primary  motta-button--base  motta-button--small">
													<span class="motta-button__text">Shop Now</span>
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7be89b76"
				 data-id="7be89b76" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-6b6b3e8d motta-banner__image-zoom motta-banner__countdown--column motta--time-text-enable-no elementor-widget elementor-widget-motta-banner"
						 data-id="6b6b3e8d" data-element_type="widget"
						 data-widget_type="motta-banner.default">
						<div class="elementor-widget-container">
							<div class="motta-banner">
								<a href="/category/toys-games-8"
								   class="motta-banner__button-link">
									<div class="motta-banner__featured-image"></div>
									<div class="motta-banner__wrapper countdown__position--before">
										<div class="motta-banner__content">
											<h4 class="motta-banner__title">
												Screen-free Fun,<br class="hidden-sm ">
												Anyone?
											</h4>
											<div class="motta-banner__description">
												From games & puzzles to
												arts & crafts,<br class="hidden-sm hidden-xs">
												get fun activities for every age.
											</div>
											<div class="motta-banner-button">
												<span class="motta-button motta-button-primary  motta-button--base  motta-button--small">
													<span class="motta-button__text">Shop Now</span>
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6b68262"
				 data-id="6b68262" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-3579ce0d motta-banner__image-zoom motta-banner__countdown--column motta--time-text-enable-no elementor-widget elementor-widget-motta-banner"
						 data-id="3579ce0d" data-element_type="widget"
						 data-widget_type="motta-banner.default">
						<div class="elementor-widget-container">
							<div class="motta-banner">
								<a href="/category/fashion-3"
								   class="motta-banner__button-link">
									<div class="motta-banner__featured-image"></div>
									<div class="motta-banner__wrapper countdown__position--before">
										<div class="motta-banner__content">
											<h4 class="motta-banner__title">
												The Spring <br class="hidden-smhidden-xs">
												Fling
											</h4>
											<div class="motta-banner__description">
												These styles, those
												prices, the timing — <br class="hidden-sm hidden-xs">
												I mean, it's like it was meant to be!
											</div>
											<div class="motta-banner-button">
												<span class="motta-button motta-button-primary  motta-button--base  motta-button--small">
													<span class="motta-button__text">Shop Now</span>
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
