@model MVEcommerce.Models.ViewModels.CategoryProduct.CategoryProduct
@{
	ViewData["Title"] = "ProductsByCategory";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="width: 70% !important;" class="container clearfix  site-content-container">
	<div  id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<div class="woocommerce-notices-wrapper"></div>
			<div class="catalog-toolbar">
				<h3 style="color: dimgrey">Category: @Model.CategoryName</h3>
			</div>

			<ul class="products product-card-layout-1 columns-2 mobile-col-2 product-list-no-desc-mobile">
				@if (Model.Products != null)
				{
				@foreach (var product in Model.Products)
				{
					var gg = product.Price * (1 - product.Sale / 100);
					<li class="product type-product post-17 status-publish first instock product_cat-electronics product_tag-electric product_tag-electric-10 product_tag-electric-4 product_tag-electric-5 product_tag-laptop product_tag-toys has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
						<div class="product-inner">
							<span class="woocommerce-badges">
								@if (product.Sale > 0)
								{
									<span class="onsale woocommerce-badge">Sale</span>
								}
							</span>
							<div class="product-thumbnail">
								<div class="product-thumbnails--slider swiper-container swiper-container-initialized swiper-container-horizontal">
									<div class="swiper-wrapper">
										<a href="../../product/11-inch-tablet-pro-2020-space-gray/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link swiper-slide swiper-slide-active" style="width: 404px;">
											<img loading="lazy" width="300" height="300" src="@product.ProductImages!.Where(x => x. IsMain).FirstOrDefault()!.ImageUrl" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" sizes="(max-width: 300px) 100vw, 300px">
										</a>
										@foreach (var image in product.ProductImages!.Where(x => !x.IsMain))
										{
											<a href="../../product/11-inch-tablet-pro-2020-space-gray/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link swiper-slide">
												<img loading="lazy" width="300" height="300" src="@image.ImageUrl" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="@product.Name" decoding="async" sizes="(max-width: 300px) 100vw, 300px">
											</a>
										}
									</div>

									<span class="motta-svg-icon motta-svg-icon--arrow-left-long motta-product-card-swiper-prev motta-product-card-swiper-button swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
										<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 19 32">
											<path d="M13.552 0.72l2.656 1.76-9.008 13.52 9.008 13.52-2.656 1.76-10.192-15.28z"></path>
										</svg>
									</span>

									<span class="motta-svg-icon motta-svg-icon--arrow-right-long motta-product-card-swiper-next motta-product-card-swiper-button" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
										<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 19 32">
											<path d="M5.648 31.28l-2.656-1.76 9.008-13.52-9.008-13.52 2.656-1.76 10.192 15.28z"></path>
										</svg>
									</span>
									<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
								</div>
								<div class="product-featured-icons">
									<a href="index4551.html?add-to-wishlist=17" data-quantity="1" data-product_id="17" data-product_title="@product.Name" data-variations="" class="wcboost-wishlist-button wcboost-wishlist-button--theme button wp-element-button wcboost-wishlist-button--ajax motta-button motta-button--text motta-button--wishlist motta-button-wishlist--view" aria-label="Add “@product.Name” to the wishlist">
										<span class="motta-button__icon add-to-wishlist-button__icon wcboost-wishlist-button__icon">
											<span class="motta-svg-icon motta-svg-icon--wishlist">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M22.736 6.4v0c1.792 0 3.44 1.12 4.128 2.768 0.8 1.92 0.112 4.144-1.856 6.112l-9.024 8.992-9.024-8.976c-1.984-1.984-2.64-4.144-1.824-6.080 0.688-1.68 2.352-2.8 4.144-2.8 1.504 0 3.040 0.752 4.448 2.16l2.256 2.256 2.256-2.256c1.44-1.424 2.992-2.176 4.496-2.176zM22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z"></path>
												</svg>
											</span>
										</span>
										<span class="motta-button__text add-to-wishlist-button__text wcboost-wishlist-button__text" data-add="Add To Wishlist" data-remove="Remove Wishlist" data-view="View Wishlist">Wishlist</span>
									</a>
									<a href="indexcc23.html?add_to_compare=17" data-product_id="17" data-product_title="@product.Name" class="wcboost-products-compare-button wcboost-products-compare-button--ajax motta-button motta-button--text motta-button-compare--view" aria-label="Compare “@product.Name”" role="button">
										<span class="wcboost-products-compare-button__icon"><span class="motta-svg-icon motta-svg-icon--compare"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M13.136 14.864l-3.68-3.664h16.144v-3.2h-16.144l3.68-3.664-2.272-2.272-7.52 7.536 7.52 7.536z"></path><path d="M21.136 14.864l-2.272 2.272 3.68 3.664h-16.144v3.2h16.144l-3.68 3.664 2.272 2.272 7.52-7.536z"></path></svg></span></span>
										<span class="wcboost-products-compare-button__text" data-add="Add To Compare" data-remove="Remove Compare" data-view="Browse Compare">Compare</span>
									</a>
								</div>
							</div>

							<div class="product-summary show-vendor">
								<div class="short-description">
									@product.Description
									<ul>
										<li>6.1-inch Super Retina XDR display2</li>
										<li>Ceramic Shield, tougher than any smartphone glass</li>
										<li>5G for superfast downloads and high-quality streaming</li>
									</ul>
									<div class="motta-more" data-settings="{&quot;more&quot;:&quot;Show More&quot;,&quot;less&quot;:&quot;Show Less&quot;}">
										<div class="motta-more__content">

											All the Power You Expect, without the Cord. Go where ambition takes you with the Cordless Hand Mixer from KitchenAid.

										</div>
										<button class="motta-more__button motta-button--subtle">Show More</button>
									</div>
								</div>

								<div class="product-variation-items ">
									<div class="product-variation-items--text">@product.ProductVariants?.Count() color</div>
								</div>

								<div class="meta-wrapper">
									<div class="meta meta-sku">Sku: <span>woo-polo</span></div>
								</div>

								<h2 class="woocommerce-loop-product__title">
									<a asp-contronller="Home" asp-action="ProductDetail" asp-route-slug="@product.Slug" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@product.Name</a>
								</h2>

								<div class="motta-rating">
									<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
										<span class="max-rating rating-stars">
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
												</svg>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
												</svg>
											</span>
										</span>
										<span class="user-rating rating-stars" style="width:100%">
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
												</svg>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
											</span>
											<span class="motta-svg-icon motta-svg-icon--star">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z">
													</path>
												</svg>
											</span>
										</span><span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span>
									</div>
									<div class="review-count"><span class="average">5.00</span> (<span class="count">3</span><span class="text"> Reviews</span>)</div>
								</div>

								<span class="price">
									<span class="woocs_price_code" data-currency="" data-redraw-id="672196f7a1e4f" data-product-id="17">
										<del aria-hidden="true">
											<span class="woocommerce-Price-amount amount">
												@if (product.Sale > 0)
												{
													<bdi><span class="woocommerce-Price-currencySymbol">$</span>@product.Price</bdi>
												}
											</span>
										</del>
										<span class="screen-reader-text">Original price was: +@product.Price</span>
										<ins aria-hidden="true">
											<span class="woocommerce-Price-amount amount">
												<bdi><span class="woocommerce-Price-currencySymbol">$</span>@gg</bdi>
											</span>
										</ins>
										<span class="screen-reader-text">Current price is: @gg </span>
									</span>
								</span>
								@*ANH VENDORS*@
								<div class="sold-by-meta show-attributes">
									<a href="../../store/sanvo/index.html">
										<img loading="lazy" src="@product.ProductImages!.Where(x => x.IsMain).FirstOrDefault()!.ImageUrl" width="96" height="96" alt="Sanvo" class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo">
										<span class="vendor-name">@product.Vendor?.Name</span>
									</a>
								</div>

							</div>
							@*engggggggggggggggggggg*@
							<div class="product-actions">
								<span class="price">
									<span class="woocs_price_code" data-currency="" data-redraw-id="672196f7a9c58" data-product-id="17">
										<del aria-hidden="true">
											<span class="woocommerce-Price-amount amount">
												@if (product.Sale > 0)
												{
													<bdi><span class="woocommerce-Price-currencySymbol">$</span>@product.Price</bdi>
												}
											</span>
										</del>
										<span class="screen-reader-text">Original price was: @product.Price</span>
										<ins aria-hidden="true">
											<span class="woocommerce-Price-amount amount">
												<bdi><span class="woocommerce-Price-currencySymbol">$</span>@gg</bdi>
											</span>
										</ins>
										<span class="screen-reader-text">Current price is: @gg g</span>
									</span>
								</span>
								@*router*@
								@if (product.HasVariant)
								{
									<a asp-action="ProductDetail" asp-route-slug="@product.Slug" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="@product.ProductId" data-product_sku="RF28R755" aria-label="Select options for “@product.Name” Touch Screen”" aria-describedby="This product has multiple variants. The options may be chosen on the product page" rel="nofollow">
										<span>Select options</span>
									</a>
								}
								else
								{
									<a data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id=@product.ProductId data-product_sku="woo-polo" aria-label="Add to cart: @product.Name" aria-describedby="" rel="nofollow" onclick="addToCart(@product.ProductId),showProduct(@product.ProductId)">
                                        <span>Add to cart</span>
                                    </a>
								}
								<div class="product-featured-icons">
									<a href="indexcc23.html?add_to_compare=17" data-product_id="17" data-product_title="@product.Name" class="wcboost-products-compare-button wcboost-products-compare-button--ajax motta-button motta-button--text motta-button-compare--view" aria-label="Compare “@product.Name”" role="button">
										<span class="wcboost-products-compare-button__icon"><span class="motta-svg-icon motta-svg-icon--compare"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M13.136 14.864l-3.68-3.664h16.144v-3.2h-16.144l3.68-3.664-2.272-2.272-7.52 7.536 7.52 7.536z"></path><path d="M21.136 14.864l-2.272 2.272 3.68 3.664h-16.144v3.2h16.144l-3.68 3.664 2.272 2.272 7.52-7.536z"></path></svg></span></span>
										<span class="wcboost-products-compare-button__text" data-add="Add To Compare" data-remove="Remove Compare" data-view="Browse Compare">Compare</span>
									</a>
									<a href="index4551.html?add-to-wishlist=17" data-quantity="1" data-product_id="17" data-product_title="@product.Name" data-variations="" class="wcboost-wishlist-button wcboost-wishlist-button--theme button wp-element-button wcboost-wishlist-button--ajax motta-button motta-button--text motta-button--wishlist motta-button-wishlist--view" aria-label="Add “@product.Name” to the wishlist">
										<span class="motta-button__icon add-to-wishlist-button__icon wcboost-wishlist-button__icon">
											<span class="motta-svg-icon motta-svg-icon--wishlist">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M22.736 6.4v0c1.792 0 3.44 1.12 4.128 2.768 0.8 1.92 0.112 4.144-1.856 6.112l-9.024 8.992-9.024-8.976c-1.984-1.984-2.64-4.144-1.824-6.080 0.688-1.68 2.352-2.8 4.144-2.8 1.504 0 3.040 0.752 4.448 2.16l2.256 2.256 2.256-2.256c1.44-1.424 2.992-2.176 4.496-2.176zM22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z"></path>
												</svg>
											</span>
										</span>
										<span class="motta-button__text add-to-wishlist-button__text wcboost-wishlist-button__text" data-add="Add To Wishlist" data-remove="Remove Wishlist" data-view="View Wishlist">Wishlist</span>
									</a>
								</div>
							</div>
						</div>
					</li>
				}
				}
			</ul>

			<nav role="navigation" id="nav-below" class="dokan-pagination-container site-navigation paging-navigation">
                <ul class="pager dokan-pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="previous">
                            <a href="@Url.RouteUrl(new { area = "Customer", controller = "Home", action = "ProductsByCategory", slug = ViewBag.CategorySlug, page = ViewBag.CurrentPage - 1 })">&larr; Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        if (i == 1 || i == ViewBag.TotalPages || (i >= ViewBag.CurrentPage - 2 && i <= ViewBag.CurrentPage + 2))
                        {
                            <li class="@(i == ViewBag.CurrentPage ? "active" : "")">
                                <a href="@Url.RouteUrl(new { area = "Customer", controller = "Home", action = "ProductsByCategory", slug = ViewBag.CategorySlug, page = i })">@i</a>
                            </li>
                        }
                        else if (i == ViewBag.CurrentPage - 3 || i == ViewBag.CurrentPage + 3)
                        {
                            <li><span>...</span></li>
                        }
                    }

                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="next">
                            <a href="@Url.RouteUrl(new { area = "Customer", controller = "Home", action = "ProductsByCategory", slug = ViewBag.CategorySlug, page = ViewBag.CurrentPage + 1 })">Next &rarr;</a>
                        </li>
                    }
                </ul>
            </nav>

		</main>
	</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
