
@{
    ViewData["Title"] = "VendorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MVEcommerce.Models.Product>

	<div class="container clearfix ">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
				<nav class="woocommerce-breadcrumb site-breadcrumb"><a href="https://motta.uix.store/">Home</a><span class="motta-svg-icon motta-svg-icon--right"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M11.42 29.42l-2.84-2.84 10.6-10.58-10.6-10.58 2.84-2.84 13.4 13.42z"></path></svg></span><a href="https://motta.uix.store/store-listing/">Store</a><span class="motta-svg-icon motta-svg-icon--right"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M11.42 29.42l-2.84-2.84 10.6-10.58-10.6-10.58 2.84-2.84 13.4 13.42z"></path></svg></span>borda</nav>
				<div class="dokan-store-wrap layout-left">

					<div id="dokan-secondary" class="dokan-store-sidebar" role="complementary">

						<div class="dokan-widget-area widget-collapse">
							<aside id="dokan-store-menu-3" class="widget dokan-store-widget dokan-store-menu">
								<h3 class="widget-title">Categories</h3>    <div class="store-cat-stack-dokan cat-drop-stack">
									<ul>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/75">Sports &amp; Entertainment <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li><a href="https://motta.uix.store/store/borda/section/297">Athletics</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/287">Football</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/293">Volleyball</a>	</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/60">Home &amp; Garden <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li><a href="https://motta.uix.store/store/borda/section/63">Kitchen &amp; dining</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/244">Storage &amp; Organization</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/61">Home accessories</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/234">Home Décor</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/242">House Plants</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/240">Kids Home</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/243">Vacuums &amp; Floor Care</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/232">Bedding</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/241">Garden Supplies</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/236">Rugs</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/81">Appliances</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/237">Event &amp; Party Supplies</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/239">Irons &amp; Steamers</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/82">Furniture</a>	</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/57">Fashion <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li class="has-children">
													<a href="https://motta.uix.store/store/borda/section/248">Kids <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
													<ul class='children level-1'>
														<li><a href="https://motta.uix.store/store/borda/section/273">Girl 6-14y</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/275">Accessories</a>		</li>
													</ul>
												</li><!-- .sub-block -->
												<li class="has-children">
													<a href="https://motta.uix.store/store/borda/section/246">Woman <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
													<ul class='children level-1'>
														<li><a href="https://motta.uix.store/store/borda/section/259">Accessories</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/256">Skirts</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/258">Shoes</a>		</li>
													</ul>
												</li><!-- .sub-block -->
												<li class="has-children">
													<a href="https://motta.uix.store/store/borda/section/247">Man <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
													<ul class='children level-1'>
														<li><a href="https://motta.uix.store/store/borda/section/269">Accessories</a>		</li>
													</ul>
												</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/77">Toys &amp; Games <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li class="has-children">
													<a href="https://motta.uix.store/store/borda/section/328">Video Games <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
													<ul class='children level-1'>
														<li><a href="https://motta.uix.store/store/borda/section/335">Controllers &amp; Accessories</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/334">Nintendo 2DS/3DS</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/330">Nintendo Switch</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/333">Retro &amp; Arcade Gaming</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/331">Xbox One</a>		</li>
													</ul>
												</li><!-- .sub-block -->
												<li class="has-children">
													<a href="https://motta.uix.store/store/borda/section/320">Toys <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
													<ul class='children level-1'>
														<li><a href="https://motta.uix.store/store/borda/section/105">Action Figures</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/323">Learning Toys</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/108">LEGO &amp; Building Sets</a>		</li>
														<li><a href="https://motta.uix.store/store/borda/section/110">Pretend Play</a>		</li>
													</ul>
												</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/56">Electronics <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li><a href="https://motta.uix.store/store/borda/section/219">Computers &amp; Accessories</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/231">eBook Readers</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/223">Office Electronics</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/227">Television &amp; Video</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/229">Video Projectors</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/218">Cell Phones</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/220">GPS &amp; Navigation</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/226">Service Plans</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/215">Accessories &amp; Supplies</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/224">Portable Audio &amp; Video</a>	</li><!-- .sub-block -->
												<li><a href="https://motta.uix.store/store/borda/section/225">Security &amp; Surveillance</a>	</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
										<li class="has-children parent-cat-wrap">
											<a href="https://motta.uix.store/store/borda/section/68">Mother &amp; Kids <span class="caret-icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span></a>
											<ul class="children level-0">
												<li><a href="https://motta.uix.store/store/borda/section/319">Travel Gear</a>	</li><!-- .sub-block -->
											</ul> <!-- .sub-category -->
										</li>
									</ul>
								</div>
							</aside><aside id="dokan-top-rated-2" class="widget dokan-store-widget woocommerce widget_products dokan-top-rated">
								<h3 class="widget-title">Top Rated Product</h3>
								<ul class="dokan-bestselling-product-widget product_list_widget">
									<li>
										<a href="https://motta.uix.store/product/afteroom-dining-chair-plus-wood-base/" title="Afteroom Dining Chair Plus, Wood Base">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-1.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">Afteroom Dining Chair Plus, Wood Base</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:80%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">4.00</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889c0819" data-product-id="28"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>99.00</span></del> <span class="screen-reader-text">Original price was: &#036;99.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>85.00</span></ins><span class="screen-reader-text">Current price is: &#036;85.00.</span></span>
									</li>
									<li>
										<a href="https://motta.uix.store/product/solution-s-i-fix-group-2-3-car-seat-soho-grey/" title="Solution S i-Fix Group 2 3 Car Seat, Soho Grey">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-17.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">Solution S i-Fix Group 2 3 Car Seat, Soho Grey</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:100%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889c171e" data-product-id="4933"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>275.00</span></span>
									</li>
									<li>
										<a href="https://motta.uix.store/product/defender-series-pro-case-for-samsung-galaxy-s20/" title="Defender Series Pro Case for Samsung Galaxy S20+">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-11.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">Defender Series Pro Case for Samsung Galaxy S20+</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:100%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889c249d" data-product-id="4935"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>20.00</span></del> <span class="screen-reader-text">Original price was: &#036;20.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>18.00</span></ins><span class="screen-reader-text">Current price is: &#036;18.00.</span></span>
									</li>
								</ul>
							</aside><aside id="dokan-best-selling-widget-3" class="widget dokan-store-widget woocommerce widget_products dokan-best-selling">
								<h3 class="widget-title">Recent Products</h3>
								<ul class="dokan-bestselling-product-widget product_list_widget">
									<li>
										<a href="https://motta.uix.store/product/11-inch-tablet-pro-2020-space-gray/" title="11-inch Tablet Pro 2020 Space Gray">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/04/1-3.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">11-inch Tablet Pro 2020 Space Gray</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:100%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889de1d7" data-product-id="17"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>529.00</span></del> <span class="screen-reader-text">Original price was: &#036;529.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>449.00</span></ins><span class="screen-reader-text">Current price is: &#036;449.00.</span></span>
									</li>
									<li>
										<a href="https://motta.uix.store/product/18w-usb-c-power-adapter/" title="18W USB-C Power Adapter">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2019/01/1-2.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">18W USB-C Power Adapter</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 4.33 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:86.6%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">4.33</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889df29b" data-product-id="27"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>20.00</span></span>
									</li>
									<li>
										<a href="https://motta.uix.store/product/town-truck-tracked-excavator-10812-26-pieces/" title="Town Truck &amp; Tracked Excavator 10812 (26 Pieces)">
											<img loading="lazy" width="300" height="300" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=300%2C300&amp;ssl=1" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?w=1400&amp;ssl=1 1400w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=300%2C300&amp;ssl=1 300w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=1024%2C1024&amp;ssl=1 1024w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=150%2C150&amp;ssl=1 150w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=768%2C768&amp;ssl=1 768w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=600%2C600&amp;ssl=1 600w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?resize=100%2C100&amp;ssl=1 100w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/08/1.jpg?w=1280&amp;ssl=1 1280w" />                    <span class="product-title">Town Truck &amp; Tracked Excavator 10812 (26 Pieces)</span>
										</a>

										<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="user-rating rating-stars" style="width:100%"><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span><span class="motta-svg-icon motta-svg-icon--star"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path></svg></span></span><span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span></div>
										<span class="woocs_price_code" data-currency="" data-redraw-id="67219889e01e6" data-product-id="13649"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>21.00</span></del> <span class="screen-reader-text">Original price was: &#036;21.00.</span><ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;</span>19.00</span></ins><span class="screen-reader-text">Current price is: &#036;19.00.</span></span>
									</li>
								</ul>
							</aside><aside id="dokan-store-contact-widget-2" class="widget dokan-store-widget dokan-store-contact">
								<h3 class="widget-title">Contact Vendor</h3>
								<form id="dokan-form-contact-seller" action="#" method="post" class="seller-form clearfix">
									<div class="ajax-response"></div>
									<ul>
										<li class="dokan-form-group">
											<input type="text" name="name" value="" placeholder="Your Name" class="dokan-form-control" minlength="5" required="required">
										</li>
										<li class="dokan-form-group">
											<input type="email" name="email" value="" placeholder="you@example.com" class="dokan-form-control" required="required">
										</li>
										<li class="dokan-form-group">
											<textarea name="message" maxlength="1000" cols="25" rows="6" value="" placeholder="Type your messsage..." class="dokan-form-control" required="required"></textarea>
										</li>
									</ul>

									<div class="dokan-privacy-policy-text"></div>
									<input type="hidden" id="dokan_contact_seller_nonce" name="dokan_contact_seller_nonce" value="9d47d49481" /><input type="hidden" name="_wp_http_referer" value="/store/borda/" />    <input type="hidden" name="dokan_recaptcha_token" class="dokan_recaptcha_token">
									<input type="hidden" name="seller_id" value="4">
									<input type="hidden" name="action" value="dokan_contact_seller">
									<input type="submit" name="store_message_send" value="Send Message" class="dokan-right dokan-btn dokan-btn-theme">
								</form>
							</aside>
						</div>


					</div><!-- #secondary .widget-area -->

					<div id="dokan-primary" class="dokan-single-store">
						<div id="dokan-content" class="store-page-wrap woocommerce" role="main">

							<div class="dokan-profile-frame-wrapper">
								<div class="profile-frame">

									<div class="profile-info-box profile-layout-default">
										<img src="https://motta.uix.store/wp-content/uploads/2023/02/vendor-banner-7.jpg"
											 alt="Borda"
											 title="Borda"
											 class="profile-info-img">

										<div class="profile-info-summery-wrapper dokan-clearfix">
											<div class="profile-info-summery">
												<div class="profile-info-head">
													<div class="profile-img profile-img-circle">
														<img src="https://motta.uix.store/wp-content/uploads/2023/02/vendor-logo-7.png"
															 alt="Borda"
															 size="150">
													</div>
													<h1 class="store-name">
														@ViewBag.VendorName
													</h1>
												</div>

												<div class="profile-info">

													<ul class="dokan-store-info">
														<li class="dokan-store-address">
															<i class="fas fa-map-marker-alt"></i>
															<span class='street_1 street_2'> 1 New Buildings, Dunwear</span> <span class='city'> Bridgwater,</span> <span class='country'> United Kingdom (UK) </span>
														</li>

														<li class="dokan-store-phone">
															<i class="fas fa-mobile-alt"></i>
															<a href="tel:(+053) 77-637-3300">(+053) 77-637-3300</a>
														</li>


														<li class="dokan-store-rating">
															<i class="fas fa-star"></i>
															<span class="text">4.60 rating from 30 reviews</span><span class="seller-rating"><div class="star-rating" role="img" aria-label="Rated 4.60 out of 5"><span class="max-rating rating-stars"><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span></span><span class="user-rating rating-stars" style="width:92%"><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span><span class="motta-svg-icon motta-svg-icon--star"></span></span><span class="screen-reader-text">Rated <strong class="rating">4.60</strong> out of 5 based on <span class="rating">30</span> customer ratings</span></div></span>
														</li>


													</ul>

													<div class="store-social-wrapper">
														<ul class="store-social">
															<li>
																<a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
															</li>
															<li>
																<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
															</li>
															<li>
																<a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
															</li>
															<li>
																<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
															</li>
														</ul>
													</div>

												</div> <!-- .profile-info -->
											</div><!-- .profile-info-summery -->
										</div><!-- .profile-info-summery-wrapper -->
									</div> <!-- .profile-info-box -->
								</div> <!-- .profile-frame -->

								<div class="dokan-store-tabs">
									<ul class="dokan-modules-button">
									</ul>
									<ul class="dokan-list-inline">
										<li><a href="https://motta.uix.store/store/borda/">Products</a></li>
									</ul>
								</div>
							</div>

							<div class="dokan-store-products-filter-area dokan-clearfix">
								<form class="dokan-store-products-ordeby" method="get">
									<input type="text" name="product_name" class="product-name-search dokan-store-products-filter-search"
										   placeholder="Enter product name" autocomplete="off"
										   data-store_id="4">
									<div id="dokan-store-products-search-result" class="dokan-ajax-store-products-search-result"></div>
									<input type="submit" name="search_store_products" class="search-store-products dokan-btn-theme"
										   value="Search">

									<select name="product_orderby" class="orderby orderby-search"
											aria-label="Shop order"
											onchange='if(this.value != 0) { this.form.submit(); }'>
										<option value="menu_order" selected='selected'>Default sorting</option>
										<option value="popularity">Sort by popularity</option>
										<option value="rating">Sort by average rating</option>
										<option value="date">Sort by latest</option>
										<option value="price">Sort by price: low to high</option>
										<option value="price-desc">Sort by price: high to low</option>
									</select>
									<input type="hidden" name="paged" value="1" />
								</form>
							</div>


							<div class="seller-items">

								<ul class="products product-card-layout-1 columns-2 mobile-col-2">
								@foreach (var item in Model)
								{
									var discount = item.Price * (1 - item.Sale / 100);
									<li class="product type-product post-14047 status-publish first instock product_cat-appliances product_cat-homegarden has-post-thumbnail sale shipping-taxable purchasable product-type-variable has-default-attributes">
										<div class="product-inner">
											<span class="woocommerce-badges"><span class="onsale woocommerce-badge">Sale</span></span><div class="product-thumbnail">
												<div class="product-thumbnails--slider swiper-container">
													<div class="swiper-wrapper">
														@foreach(var image in item.ProductImages)
														{
															<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
																<img loading="lazy" width="300" height="300" src="@image.ImageUrl" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="@image.ImageUrl" sizes="(max-width: 300px) 100vw, 300px" />
															</a>
														}
														
														
													</div>
													<span class="motta-svg-icon motta-svg-icon--arrow-left-long motta-product-card-swiper-prev motta-product-card-swiper-button">
														<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 19 32">
															<path d="M13.552 0.72l2.656 1.76-9.008 13.52 9.008 13.52-2.656 1.76-10.192-15.28z"></path>
														</svg>
													</span>
														
													<span class="motta-svg-icon motta-svg-icon--arrow-right-long motta-product-card-swiper-next motta-product-card-swiper-button">
														<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 19 32">
															<path d="M5.648 31.28l-2.656-1.76 9.008-13.52-9.008-13.52 2.656-1.76 10.192 15.28z"></path>
														</svg>	
													</span>
												</div>
													
												<div class="product-featured-icons">
													<a href="https://motta.uix.store/store/borda/?add-to-wishlist=14047" data-quantity="1" data-product_id="14047" data-product_title="@item.Name" data-variations="[{&quot;variation_id&quot;:14047,&quot;add_url&quot;:&quot;?add-to-wishlist=14047&quot;,&quot;remove_url&quot;:&quot;?remove-wishlist-item=56fc9dccc9dea029d0d26422657bd64a&amp;_wpnonce=b3dd698a24&quot;,&quot;added&quot;:&quot;no&quot;,&quot;is_parent&quot;:&quot;yes&quot;},{&quot;variation_id&quot;:19322,&quot;add_url&quot;:&quot;?add-to-wishlist=19322&quot;,&quot;remove_url&quot;:&quot;?remove-wishlist-item=179ff010660a1aba89e7dfb8b29bd9f9&amp;_wpnonce=b3dd698a24&quot;,&quot;added&quot;:&quot;no&quot;},{&quot;variation_id&quot;:19324,&quot;add_url&quot;:&quot;?add-to-wishlist=19324&quot;,&quot;remove_url&quot;:&quot;?remove-wishlist-item=2d3bfb4541ed4cd47b54965b61e043e7&amp;_wpnonce=b3dd698a24&quot;,&quot;added&quot;:&quot;no&quot;},{&quot;variation_id&quot;:19325,&quot;add_url&quot;:&quot;?add-to-wishlist=19325&quot;,&quot;remove_url&quot;:&quot;?remove-wishlist-item=fbba40bdc0884d7e73fd2a28f091ac41&amp;_wpnonce=b3dd698a24&quot;,&quot;added&quot;:&quot;no&quot;},{&quot;variation_id&quot;:19327,&quot;add_url&quot;:&quot;?add-to-wishlist=19327&quot;,&quot;remove_url&quot;:&quot;?remove-wishlist-item=65f74eb229460d3aa163ed6853cf03d1&amp;_wpnonce=b3dd698a24&quot;,&quot;added&quot;:&quot;no&quot;}]" class="wcboost-wishlist-button wcboost-wishlist-button--theme button wp-element-button wcboost-wishlist-button--ajax motta-button motta-button--text motta-button--wishlist motta-button-wishlist--view" aria-label="Add &ldquo;@item.Name&rdquo; to the wishlist">
														<span class="motta-button__icon add-to-wishlist-button__icon wcboost-wishlist-button__icon">
															<span class="motta-svg-icon motta-svg-icon--wishlist">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M22.736 6.4v0c1.792 0 3.44 1.12 4.128 2.768 0.8 1.92 0.112 4.144-1.856 6.112l-9.024 8.992-9.024-8.976c-1.984-1.984-2.64-4.144-1.824-6.080 0.688-1.68 2.352-2.8 4.144-2.8 1.504 0 3.040 0.752 4.448 2.16l2.256 2.256 2.256-2.256c1.44-1.424 2.992-2.176 4.496-2.176zM22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z"></path>
																</svg>
															</span>
														</span>
														<span class="motta-button__text add-to-wishlist-button__text wcboost-wishlist-button__text" data-add="Add To Wishlist" data-remove="Remove Wishlist" data-view="View Wishlist">Wishlist</span>
													</a>
													<a href="https://motta.uix.store/store/borda/?add_to_compare=14047" data-product_id="14047" data-product_title="@item.Name" class="wcboost-products-compare-button wcboost-products-compare-button--ajax motta-button motta-button--text motta-button-compare--view" aria-label="Compare &ldquo;@item.Name&rdquo;" role="button">
														<span class="wcboost-products-compare-button__icon">
															<span class="motta-svg-icon motta-svg-icon--compare">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M13.136 14.864l-3.68-3.664h16.144v-3.2h-16.144l3.68-3.664-2.272-2.272-7.52 7.536 7.52 7.536z"></path>
																	<path d="M21.136 14.864l-2.272 2.272 3.68 3.664h-16.144v3.2h16.144l-3.68 3.664 2.272 2.272 7.52-7.536z"></path>
																</svg>
															</span>
														</span>
														<span class="wcboost-products-compare-button__text" data-add="Add To Compare" data-remove="Remove Compare" data-view="Browse Compare">Compare</span>
													</a>
												</div>
											</div>
											<div class="product-summary show-vendor">
												<div class="product-variation-items product-variation-items--hover">
													<div class="product-variation-items--text">3 colors</div>
													<div class="product-variation-items--item">
														@foreach (var image in item.ProductImages.Where(x=>x.ProductVariantOption!=null))
														{
															<span class="product-variation-item product-variation-item--image product-variation-item--attrs" data-product_variations="{&quot;img_src&quot;:&quot;@image.ImageUrl?fit=300%2C300&amp;ssl=1&quot;,&quot;img_srcset&quot;:&quot;@image.ImageUrl?w=1400&amp;ssl=1 1400w, @image.ImageUrl?resize=300%2C300&amp;ssl=1 300w, @image.ImageUrl?resize=1024%2C1024&amp;ssl=1 1024w, @image.ImageUrl?resize=150%2C150&amp;ssl=1 150w, @image.ImageUrl?resize=768%2C768&amp;ssl=1 768w, @image.ImageUrl?resize=600%2C600&amp;ssl=1 600w, @image.ImageUrl?resize=100%2C100&amp;ssl=1 100w, @image.ImageUrl?w=1280&amp;ssl=1 1280w&quot;,&quot;price&quot;:&quot;&quot;}" data-text="@image.ProductVariantOption.Value">
																<img loading="lazy" width="100" height="100" src="@image.ImageUrl" class="attachment-100x100 size-100x100" alt="" decoding="async" srcset="@image.ImageUrl" sizes="(max-width: 100px) 100vw, 100px" />
															</span>
														}
														
														
													</div>
												</div>
												<div class="meta-wrapper">
													<div class="meta meta-sku">Sku: <span>RF28R755</span></div>
												</div>
												<h2 class="woocommerce-loop-product__title">
													<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@item.Name</a>
												</h2>
												<div class="motta-rating">
													<div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
														<span class="max-rating rating-stars">
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>					
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>		
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
														</span>
														<span class="user-rating rating-stars" style="width:100%">
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
															<span class="motta-svg-icon motta-svg-icon--star">
																<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
																	<path d="M16 1.333l3.467 11.2h11.2l-9.067 6.933 3.467 11.2-9.067-6.933-9.067 6.933 3.467-11.2-9.067-6.933h11.2z"></path>
																</svg>
															</span>
														</span>
														<span class="screen-reader-text">Rated <strong class="rating">5.00</strong> out of 5</span>				
													</div>	
													
													<div class="review-count">
														<span class="average">5.00
														</span> (<span class="count">1</span><span class="text"> Review</span>)
													</div>
												</div>
												<span class="price">
													<span class="woocs_price_code" data-currency="" data-redraw-id="67219889eee62" data-product-id="14047">
														<del aria-hidden="true">
															<span class="woocommerce-Price-amount amount">
																<bdi>
																	<span class="woocommerce-Price-currencySymbol">&#36;</span>@item.Price
																</bdi>
															</span>
														</del> 
														<span class="screen-reader-text">Original price was: &#036;@item.Price.</span>
														<ins aria-hidden="true">
															<span class="woocommerce-Price-amount amount">
																<bdi>
																	<span class="woocommerce-Price-currencySymbol">&#36;</span>@discount
																</bdi>
															</span>
														</ins>
														<span class="screen-reader-text">Current price is: &#036;@discount.</span>
													</span>
												</span>

												<div class="sold-by-meta show-attributes">
													<a href="https://motta.uix.store/store/borda/">
														<img loading="lazy" src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/02/vendor-logo-7.png?fit=96%2C96&amp;ssl=1" width="96" height="96" alt="Borda" class="avatar avatar-96 wp-user-avatar wp-user-avatar-96 alignnone photo" />				
														<span class="vendor-name">@item.Vendor.Name</span>
													</a>
												</div>
											</div>

											<div class="product-actions">
												@if(@item.HasVariant){
													<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="14047" data-product_sku="RF28R755" aria-label="Select options for &ldquo;@item.Name&rdquo;" aria-describedby="This product has multiple variants. The options may be chosen on the product page" rel="nofollow">
														<span>Select options</span>
													</a>
												}else{
													<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="14047" data-product_sku="RF28R755" aria-label="Select options for &ldquo;@item.Name&rdquo;" aria-describedby="This product has multiple variants. The options may be chosen on the product page" rel="nofollow">
														<span>Add to card</span>
													</a>
												}
												<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/" class="button motta-button motta-button--quickview motta-button--ghost" data-toggle="modal" data-target="quick-view-modal" data-id="14047" data-text="Quick View" rel="nofollow">
													<span>Quick View</span>
												</a>
											</div>

										</div>
									</li>

								}
		
								</ul>

							</div>

							<nav role="navigation" id="nav-below" class="site-navigation paging-navigation">

								<ul class="pager">
								</ul>


								<div class="dokan-pagination-container"><ul class="dokan-pagination"><li class="disabled"><a href="#">&larr; Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="https://motta.uix.store/store/borda/page/2/">2</a></li><li><a href="https://motta.uix.store/store/borda/page/3/">3</a></li><li class=""><a href="https://motta.uix.store/store/borda/page/2/">Next &rarr;</a></li><li class="next"><a href="https://motta.uix.store/store/borda/page/3/" title="Last">&raquo;</a></li></ul></div>
							</nav>

						</div>

					</div><!-- .dokan-single-store -->


				</div><!-- .dokan-store-wrap -->

			</main>
		</div>

	</div>


