@using MVEcommerce.Models
@using MVEcommerce.Utility
@model List<Vendor>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
   
<!-- Header -->
        <div class="card-header card-header-content-md-between">
            <div class="mb-2 mb-md-0">
                <form>
                    <!-- Search -->
                    <div class="input-group input-group-merge input-group-flush">
                        <div class="input-group-prepend input-group-text">
                            <i class="bi-search"></i>
                        </div>
                        <input id="datatableSearch" type="search" class="form-control" placeholder="Search products"
                               aria-label="Search users">
                    </div>
                    <!-- End Search -->
                </form>
            </div>
        </div>
        <!-- End Header -->
        <!-- Table -->
        <div class="table-responsive datatable-custom">
            <table id="datatable"
                   class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                   data-hs-datatables-options='{
            "columnDefs": [{
            "targets": [0, 10],
            "width": "5%",
            "orderable": false
            }],
            "order": [],
            "info": {
            "totalQty": "#datatableWithPaginationInfoTotalQty"
            },
            "search": "#datatableSearch",
            "entries": "#datatableEntries",
            "pageLength": 12,
            "isResponsive": false,
            "isShowPaging": false,
            "pagination": "datatablePagination"
            }'>
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-column-pe-0">
                            <div class="form-check">
                            </div>
                        </th>
                        <th>Id</th>
                        <th>Name</th>
                        <th class="table-column-ps-0">Status</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @* Product Item *@
                    @foreach (var vendor in Model)
                    {
                        <tr>
                            <td class="table-column-pe-0">
                            </td>
                            <td>@vendor.VendorId</td>
                            <td>@vendor.Name</td>
                            <td class="@(vendor.Status==VendorStatus.ACTIVE ? "text-success" : "text-warning")">@vendor.Status</td>
                            <td>@vendor.CreatedAt.ToString()</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <!-- Button Group -->
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn btn-white btn-icon btn-sm dropdown-toggle-empty"
                                                id="productsEditDropdown1" data-bs-toggle="dropdown"
                                                aria-expanded="false"><i class="bi bi-chevron-right arrow-icon" data-bs-auto-close="outside"></i></button>
                                        <div class="dropdown-menu dropdown-menu-end mt-1"
                                             aria-labelledby="productsEditDropdown1" >
                                            @if (vendor.Status == VendorStatus.PENDING)
                                            {
                                                <form method="post" action="@Url.Action("UpdateVendorStatus", "Home", new { area = "Admin" })">
                                                    <input type="hidden" name="id" value="@vendor.VendorId" />
                                                    <input type="hidden" name="status" value="@VendorStatus.ACTIVE" />
                                                    <button type="submit" class="dropdown-item">
                                                        <i class="bi-upload dropdown-item-icon"></i> Approve
                                                    </button>
                                                </form>
                                            }
                                            @if (vendor.Status == VendorStatus.ACTIVE)
                                            {
                                                <form method="post" action="@Url.Action("UpdateVendorStatus", "Home", new { area = "Admin" })">
                                                    <input type="hidden" name="id" value="@vendor.VendorId" />
                                                    <input type="hidden" name="status" value="@VendorStatus.INACTIVE" />
                                                    <button type="submit" class="dropdown-item">
                                                        <i class="bi-upload dropdown-item-icon"></i> Deactivate
                                                    </button>
                                                </form>
                                            }
                                            @if (vendor.Status == VendorStatus.INACTIVE)
                                            {
                                                <form method="post" action="@Url.Action("UpdateVendorStatus", "Home", new { area = "Admin" })">
                                                    <input type="hidden" name="id" value="@vendor.VendorId" />
                                                    <input type="hidden" name="status" value="@VendorStatus.ACTIVE" />
                                                    <button type="submit" class="dropdown-item">
                                                        <i class="bi-upload dropdown-item-icon"></i> Activate
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                    <!-- End Button Group -->
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- End Table -->
    

        <!-- Footer -->
        <div class="card-footer">
            <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                        <span class="me-2">Showing:</span>

                        <!-- Select -->
                        <div class="tom-select-custom">
                            <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto"
                                    autocomplete="off" data-hs-tom-select-options='{
                            "searchInDropdown": false,
                            "hideSearch": true
                          }'>
                                <option value="12">12</option>
                                <option value="14" selected>14</option>
                                <option value="16">16</option>
                                <option value="18">18</option>
                            </select>
                        </div>
                        <!-- End Select -->

                        <span class="text-secondary me-2">of</span>

                        <!-- Pagination Quantity -->
                        <span id="datatableWithPaginationInfoTotalQty">@Model.Count()</span>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-sm-auto">
                    <div class="d-flex justify-content-center justify-content-sm-end">
                        <!-- Pagination -->
                        <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Footer -->
        