@model MVEcommerce.Models.ViewModels.ShoopingCart.ShowProductCart
@{
	ViewData["Title"] = "ShowCart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container clearfix ">
	<article id="post-8" class="post-8 page type-page status-publish hentry">
		<div class="woocommerce">
			<div class="woocommerce-notices-wrapper"></div>
			<div class="woocommrece-cart-content">
				<form class="woocommerce-cart-form" action="https://motta.uix.store/cart/" method="post">

					<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
						<thead>
							<tr>
								<th class="product-thumbnail">Products</th>
								<th class="product-name"><span class="screen-reader-text">Product Name</span></th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-subtotal">Subtotal</th>
								<th class="product-remove"><span class="screen-reader-text">Remove item</span></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model.ListCart)
							{
								<tr id="remove_@product.CartId" class="woocommerce-cart-form__cart-item cart_item">

									<td class="product-thumbnail">
										<a href=""><img loading="lazy" decoding="async" width="300" height="300" src="@product.ImageUrl" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="@product.ProductName" sizes="(max-width: 300px) 100vw, 300px"></a>
									</td>

									<td class="product-name" data-title="Product">
										<a href="">@product.ProductName</a>
										<dl class="variation">
											<dt class="variation-Vendor">Vendor:</dt>
											<dd class="variation-Vendor">
												<p>@product.VendorName</p>
											</dd>
										</dl>
										<div class="product-price">
											<span class="woocs_special_price_code">
												<span class="woocommerce-Price-amount amount">
													<bdi>
														<span class="woocommerce-Price-currencySymbol">$</span>
														@product.Price
													</bdi>
												</span>
											</span>
										</div>
										
									</td>

									<td class="product-price" data-title="Price">
										<span class="woocs_special_price_code">
											<span class="woocommerce-Price-amount amount">
												<bdi>
													<span class="woocommerce-Price-currencySymbol">$</span>
													<span id="price_@product.CartId" class="product-price-value">@product.Price</span>
												</bdi>
											</span>
										</span>
									</td>

									<td class="product-quantity motta-skin--subtle motta-qty-medium" data-title="Quantity">
										<div class="quantity ">
											<span class="motta-svg-icon motta-svg-icon--minus motta-qty-button decrease" onclick="updateQuantity(@product.CartId, 'decrease')">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M26.667 13.333v5.333h-21.333v-5.333h21.333z"></path></svg>
											</span>
											<label class="screen-reader-text" for="quantity_@product.ProductId">@product.ProductName</label>
											<input type="number" id="quantity_@product.CartId" class="input-text qty text" name="cart[@product.CartId][qty]" value="@product.Quantity" aria-label="Product quantity" size="4" min="0" max="@product.Stock" step="1" placeholder="" inputmode="numeric" autocomplete="off">
											<span class="motta-svg-icon motta-svg-icon--plus motta-qty-button increase" onclick="updateQuantity(@product.CartId, 'increase')"><svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32"><path d="M26.667 13.333h-8v-8h-5.333v8h-8v5.333h8v8h5.333v-8h8z"></path></svg></span>
										</div>
									</td>

									<td class="product-subtotal" data-title="Subtotal">
										<span class="woocs_special_price_code">
											<span class="woocommerce-Price-amount amount">
												<bdi>
													<span class="woocommerce-Price-currencySymbol">$</span>
													<span id="total_@product.CartId" class="product-total-value">@product.TotalPrice</span>
												</bdi>
											</span>
										</span>
									</td>

									<td class="product-remove">
										<a  class="remove" aria-label="Remove this item" onclick="removeFromCart(@product.CartId)" data-product_id="@product.ProductId" data-product_sku="">
											<span class="motta-svg-icon motta-svg-icon--trash">
												<svg width="24" height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
													<path d="M23.84 9.6h-15.68c-0.96 0-1.6 0.8-1.6 1.76l1.28 14.56c0.16 1.6 1.6 2.88 3.2 2.88h10.080c1.6 0 3.040-1.28 3.2-2.88l1.28-14.56c0-0.96-0.8-1.76-1.76-1.76zM21.12 25.6h-10.24l-0.96-12.8h12.32l-1.12 12.8z"></path>
													<path d="M24 4.8h-4.8c0-0.96-0.64-1.6-1.6-1.6h-3.2c-0.96 0-1.6 0.64-1.6 1.6h-4.8c-1.76 0-3.2 1.44-3.2 3.2h22.4c0-1.76-1.44-3.2-3.2-3.2z"></path>
													<path d="M14.4 16h3.2v6.4h-3.2v-6.4z"></path>
												</svg>
											</span>
										</a>
									</td>
								</tr>
							}


							<tr>
								<td colspan="6" class="actions">

									<div class="coupon">
										<label for="coupon_code" class="screen-reader-text">Coupon:</label> <input type="text" name="coupon_code" class="input-text motta-input--medium" id="coupon_code" value="" placeholder="Coupon code"> <button type="submit" class="button motta-button motta-button--base motta-button--medium motta-button--bg-color-black" name="apply_coupon" value="Apply coupon">Apply coupon</button>
									</div>

									<button type="submit" class="button button-update-cart motta-button motta-button--subtle motta-button--color-black" name="update_cart" value="Update cart" disabled="">Update cart</button>

									<button type="submit" class="button button-empty-cart motta-button motta-button--subtle motta-button--color-black" name="empty_cart" value="Clear cart">Clear Cart</button>

									<input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="553b8eca09"><input type="hidden" name="_wp_http_referer" value="/cart/">
								</td>
							</tr>

						</tbody>
					</table>
				</form>


				<div class="cart-collaterals">
					<div class="cart_totals ">

						<h2>Cart totals</h2>

						<table cellspacing="0" class="shop_table shop_table_responsive">

							<tbody>
								<tr class="cart-subtotal">
									<th>Subtotal</th>
									<td data-title="Subtotal">
										<span class="woocs_special_price_code">
											<span class="woocommerce-Price-amount amount">
												<bdi><span class="woocommerce-Price-currencySymbol">$</span> @Model.TotalPrice </bdi>
											</span>
										</span>
									</td>
								</tr>

								

								<tr class="order-total">
									<th>Total</th>
									<td data-title="Total">
										<strong>
											<span class="woocs_special_price_code">
												<span class="woocommerce-Price-amount amount">
													<bdi><span class="woocommerce-Price-currencySymbol">$</span>@Model.TotalPrice</bdi>
												</span>
											</span>
										</strong> 
									</td>
								</tr>


							</tbody>
						</table>

						<div class="wc-proceed-to-checkout">

							<a href="https://motta.uix.store/checkout/" class="checkout-button button alt wc-forward">
								Proceed to checkout
							</a>
						</div>


					</div>
				</div>
			</div>

		</div>
	</article>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
		
	function updateQuantity(cartId, action) {
		var quantity = parseInt($('#quantity_' + cartId).val());
		
		var priceElement = document.getElementById('price_' + cartId);
		var price = parseFloat(priceElement.innerText.replace('$', '').trim());
		if (action === 'increase') {
			quantity++;
		} else if (action === 'decrease' && quantity >= 1) {
			quantity--;
		} else {

			alert("error" + quantity);
			return;
		}
		
		$.ajax({
			type: 'POST',
			url: '/api/UpdateQuantity',
			data: { cartId: cartId, quantity: quantity },
			success: function (response) {
				$('#quantity_' + cartId).val(quantity);
				if (quantity === 0) {
					$('#remove_' + cartId).empty();
				} else {
					var totalPrice = price * quantity;			
					$('#total_' + cartId).html(totalPrice+',0000');
				}
				updateCartTotal();
			},
			error: function () {
				alert('Lỗi khi cập nhật số lượng');
			}
		});
	}

	function removeFromCart(cartId) {

		$.ajax({
			url: '/api/RemoveFromCart',
			type: 'POST',
			data: { cartId: cartId },
			success: function (response) {
				$('#remove_' + cartId).empty();
				updateCartTotal()
			},
			error: function () {
				alert('Lỗi khi xóa sản phẩm');
			}
		});

	}
	function updateCartTotal() {
		var totalCart = 0;

		$('.product-total-value').each(function () {
			var subtotal = parseFloat($(this).text().replace('$', '').trim());
			if (!isNaN(subtotal)) {
				totalCart += subtotal;
			}
		});

		$('.cart-subtotal td span').html(totalCart + ',0000');
		$('.order-total td span').html(totalCart + ',0000');
	}
</script>


